@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

:root{
    --Soft-red: #fe7867;
    --Yellow: #fad400;
    --Dark-desaturated-cyan-graphic-design-text: #25564b;
    --Dark-blue-photography-text: #19536b;
    --Dark-moderate-cyan-footer: #458c7e;
    --Very-dark-desaturated-blue: #23303e;
    --Very-dark-grayish-blue: #5a636c;
    --Dark-grayish-blue: #818498;
    --Grayish-blue: #a7abae;
    --White: #ffffff;
}

.font-karla {
    font-family: 'Karla', sans-serif;
}

.font-fraunces {
    font-family: 'Fraunces', serif;
}

.row__link::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0%;
    width: 100%;
    height: 10px;
    border-radius: 12px;
    opacity: .3;
    z-index: -1;
}

.triangle {
    position: absolute;
    border-right: 20px solid white;
    border-top: 20px solid transparent;
    width: 0;
    height: 0;
    bottom: 100%;
    right: 0;
  }